html,
body,
main {
  display: block;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
#inCorrect,
#correct {
  font-size: 0.65rem;
}
main {
  background-color: #201920;
  overflow-y: auto;
  line-height: 0;
  /* will-change: auto; */
}
.show {
  display: block !important;
}

#alert_num,
#setting,
#questions,
#finalScore,
#correct,
#incorrect ,
#answer-alert{
  display: none;
}
